/*html{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body{
	border: 5px solid black;
	background-size: cover;
	background-position: center;
}*/

/*#box{
	margin: 30%;
	border: 2px solid black;
	padding: 30%;
}
*/